/* Styling for the AddTodoForm */
.add-todo-form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-paragraph {
  margin-bottom: 10px;
}

form {
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #218838;
}

form button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #218838;
}

form br {
  margin-bottom: 10px;
}
