/* Style for the ListItem */
.ListItem {
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Arial, sans-serif';
  font-size: 16px;
  text-align: center;
}

/* Button styling for the complete button */
.CompleteButton {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.CompleteButton svg {
  margin-right: 8px;
  font-size: 1.2em;
}

.CompleteButton:hover {
  background-color: #2ecc71;
}

/* Button styling for the remove button */
.RemoveButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.RemoveButton svg {
  margin-right: 8px;
  font-size: 1.2em;
}

.RemoveButton:hover {
  background-color: #c0392b;
}

/* Button styling for the edit button */
.EditButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.EditButton svg {
  margin-right: 8px;
  font-size: 1.2em;
}

.EditButton:hover {
  background-color: #2980b9;
}

/* Button group styling to align buttons to the right */
.ButtonGroup {
  display: flex;
  gap: 8px; /* Add spacing between buttons */
}

/* See More Button styling */
.SeeMoreButton {
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

/* Style for the completed date */
.CompletedAt {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.TextArea {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  font-family: 'Arial, sans-serif';
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.TextArea:focus {
  border-color: #3498db;
  outline: none;
}


/* Media Queries for responsive design */
@media (max-width: 600px) {
  .ListItem {
    font-size: 14px;
  }

  .RemoveButton,
  .CompleteButton,
  .EditButton {
    padding: 6px 12px;
  }

  .ButtonGroup {
    flex-direction: column;
  }
}
