* { 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}

$nav-background: rgba(0, 0, 0, 0.7);
$nav-color: white;

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  background: $nav-background;
  min-height: 50px;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: $nav-color; 
  list-style: none;
  font-family: 'Lato', sans-serif;
  
  > * {
    padding: 1rem;
    
    &:hover {
      background: color.scale($nav-background, $lightness: 12.5%);
      text-decoration: underline;
    }
  }
  
  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-family: inherit;
    display: block;
  }
}


@media (max-width: 768px) {
  .navbar {
    padding: 0 10px; /* Less padding on smaller screens */
  }

  .navigation {
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items */
  }
}
